@font-face {
  font-family: 'TUIType Cyrillic';
  src: url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic-Bold.eot");
  src: url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic-Bold.woff2") format("woff2"), /* chrome、firefox */ url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic-Bold.woff") format("woff"), /* chrome、firefox */ url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic-Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic-Bold.svg#TUIType Cyrillic Bold") format("svg");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  
  /* IE9*/
  /* iOS 4.1- */
}
@font-face {
  font-family: 'TUIType Cyrillic';
  src: url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic.eot");
  src: url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic.woff2") format("woff2"), /* chrome、firefox */ url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic.woff") format("woff"), /* chrome、firefox */ url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("../fonts/TUIType-Cyrillic/TUIType-Cyrillic.svg#TUIType Cyrillic Bold") format("svg");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  
  /* IE9*/
  /* iOS 4.1- */
}
@font-face {
  font-family: 'TUIType Cyrillic Light';
  src: url('../fonts/TUIType-Cyrillic/TUIType-Cyrillic-Light.ttf');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
.clear:before {
  content: '';
  display: table;
}
.clear:after {
  content: '';
  display: table;
  clear: both;
}
.image-cover-wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.image-cover {
  display: none !important;
}
.center {
  text-align: center;
}
.right {
  text-align: center;
}
.text-columns {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}
.icon-hover:hover .icon:before {
  opacity: 0;
}
.icon-hover:hover .icon:after {
  opacity: 1;
}
.icon {
  position: relative;
}
.icon:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: contain !important;
  background-size: contain !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.icon:after {
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: contain !important;
  background-size: contain !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.icon.yandex {
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}
.icon.mailru {
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
}
.icon.vk {
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.icon.facebook {
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
}
.icon.google {
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}
.icon-back {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 11px;
  margin-right: 12px;
}
.preloader {
  display: block;
  width: 60px;
  height: 60px;
  margin: auto;
}
.preloader:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #d40e14;
  border-color: #d40e14 transparent #d40e14 transparent;
  animation: preloader 1.2s linear infinite;
}
.preloader.lg {
  width: 80px;
  height: 80px;
}
.preloader.lg:after {
  border-width: 5px;
}
.preloader.sm {
  width: 30px;
  height: 30px;
}
.preloader.sm:after {
  border-width: 3px;
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.font-link:hover span {
  border-bottom-color: rgba(0, 0, 0, 0);
}
.font-link span {
  display: inline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-transition: border 0.2s ease-in-out;
  -moz-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.style-h2 {
  font-family: 'TUIType Cyrillic', 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.style-h3 {
  font-family: 'TUIType Cyrillic', 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.style-h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #737373;
}
.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 1260px;
  margin: 0 auto;
}
.body {
  overflow: hidden;
  flex: 1 0 auto;
}
.header {
  z-index: 100;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header-link {
  display: inline-block;
  letter-spacing: 0.05em;
  font-family: 'TUIType Cyrillic', 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
.header-link:hover {
  color: #d40e14;
}
.header-link img {
  position: relative;
  top: -3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.header .logo {
  margin-right: 40px;
}
.header-inner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  line-height: 75px;
}
.footer {
  flex-shrink: 0;
}
.content {
  position: relative;
  width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;
}
.content:before {
  content: '';
  display: table;
}
.content:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 1px) {
  .content {
    padding: 0 15px;
  }
}
.grid {
  position: relative;
  margin: 0 -15px;
  font-size: 0;
}
.grid:before {
  content: '';
  display: table;
}
.grid:after {
  content: '';
  display: table;
  clear: both;
}
.box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-height: 1px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
  font-size: 14px;
}
.box.full {
  width: 100% !important;
}
.cells {
  position: relative;
  margin: 0 -5px;
  font-size: 0;
}
.cells:before {
  content: '';
  display: table;
}
.cells:after {
  content: '';
  display: table;
  clear: both;
}
.cell {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-height: 1px;
  width: 50%;
  margin: auto;
  padding: 0 5px;
  font-size: 14px;
}
.cell.full {
  width: 100% !important;
}
.cell.justify {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.hidden {
  display: none;
}
@media (min-width: 1px) {
  .hidden-wide {
    display: none !important;
  }
}
@media (min-width: 1px) and (max-width: 1px) {
  .hidden-desktop {
    display: none !important;
  }
}
@media (min-width: 1px) and (max-width: 1px) {
  .hidden-laptop {
    display: none !important;
  }
}
@media (min-width: 1px) and (max-width: 1px) {
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 1px) {
  .hidden-mobile {
    display: none !important;
  }
}
.visible {
  display: block !important;
}
.visible-mobile,
.visible-tablet,
.visible-laptop,
.visible-desktop,
.visible-wide {
  display: none !important;
}
@media (min-width: 1px) {
  .visible-wide {
    display: block !important;
  }
}
@media (min-width: 1px) and (max-width: 1px) {
  .visible-desktop {
    display: block !important;
  }
}
@media (min-width: 1px) and (max-width: 1px) {
  .visible-laptop {
    display: block !important;
  }
}
@media (min-width: 1px) and (max-width: 1px) {
  .visible-tablet {
    display: block !important;
  }
}
@media (max-width: 1px) {
  .visible-mobile {
    display: block !important;
  }
}
.section {
  position: relative;
  margin-bottom: 20px;
}
.section-bar {
  margin-bottom: 20px;
}
.section-bar .cell:nth-child(2) {
  text-align: right;
}
.section-pretitle {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #737373;
}
.section-title {
  font-family: 'TUIType Cyrillic', 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
}
@media (max-width: 1px) {
  .section-title {
    word-break: break-word;
  }
}
.block-title {
  margin-bottom: 25px;
  font-family: 'TUIType Cyrillic', 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 1px) {
  .block-title {
    word-break: break-word;
  }
}
